body {
    background-color: #8096AD;
}

#moviesList img {
    cursor: pointer;
}

.normal-bg {
    background-color: #8096AD;
}

.back-room-bg {
    background-color: #622929;
}

@keyframes spinning {
    from { transform: rotate(0deg) }
    to { transform: rotate(360deg) }
}

.spin {
    animation-name: spinning;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    /* linear | ease | ease-in | ease-out | ease-in-out */
    animation-timing-function: linear;
}

#page-wrapper {
    height: 100%;
    width: 100%;
}

#loading-div {
    position: absolute;
    top: 78px;
    height: calc(100vh - 78px);
    width: 100vw;
}

#loading-img {
    height: 100px;
    width: 100px;
    text-align: center;
}

.hidden {
    opacity: 0;
}

.movie-card {
    border-radius: 2em;
    overflow: hidden;
}

.all-movie-img {
    height: 429px;
}

.search-card, .search-card-img {
    height: 240px;
}