/*Normal background for full body*/
body {
    background-color: #8096AD;
}

/*Styling to make page wrapper dive take up whole screen*/
#page-wrapper {
    height: 100%;
    width: 100%;
}

/*Offset the top navbar*/
#all-movie-cards-div {
    margin-top: 62px;
}

/*Styling to make the div for loading screen the correct size and position*/
/*Also makes the position absolute to always be on the screen*/
#loading-div {
    position: absolute;
    height: 100vw;
    width: 100vw;
}

/*Class used by loading div to hide when not needed*/
.hidden {
    opacity: 0;
}

/*Loading image styling for size and position*/
#loading-img {
    height: 100px;
    width: 100px;
    position: absolute;
    top: 20em;
}

/*Styling to spin our loading image*/
@keyframes spinning {
    from { transform: rotate(0deg) }
    to { transform: rotate(360deg) }
}
.spin {
    animation-name: spinning;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

/*Background colors to toggle between for back room*/
.normal-bg {
    background-color: #8096AD;
}
.back-room-bg {
    background-color: #622929;
}

/*Styling for the add movie button*/
#add-movie-btn {
    margin-left: 8em;
}

/*Styling sort select div*/
#nav-sort-div {
    margin-right: 8em;
}

/*Changes cursor to a pointer finger when over a movie list image*/
#movie-list img {
    cursor: pointer;
}

/*Stying sort select element*/
#sort-select, #sort-select>option, #add-movie-btn {
    background-color: #8096AD;
}

/*Making the movie cards scale up on hover, with a small transition time so it is not instant*/
.movie-card, .search-card {
    transition: all 200ms;
}
.movie-card:hover, .search-card:hover {
    transform: scale(1.1);
}

/*Rounding edges and preventing image inside from overflowing*/
/*Adding shadow borders*/
.movie-card {
    border-radius: 2em;
    overflow: hidden;
    box-shadow: 6px 12px 12px #254895;
}
.search-card {
    box-shadow: 0 0 6px 6px #8096AD;
    border-radius: 1em;
    overflow: hidden;
}

/*Making set height for images and cards*/
.all-movie-img {
    height: 429px;
}
.search-card, .search-card-img {
    height: 240px;
}

/*Styling all modal headers*/
.modal-header {
    border-bottom: 2px solid #254895;
}

/*Moving text input in line with other inputs on the modal*/
#title-input {
    padding-left: 12px;
}