/*Overall Background Color*/
body {
    background-color: #8096AD;
}

/*Styling to make page wrapper dive take up whole screen*/
#page-wrapper {
    height: 100%;
    width: 100%;
}

/*Styling to make the div for loading screen the correct size and position*/
/*Also makes the position absolute to always be on the screen*/
#loading-div {
    position: absolute;
    top: 78px;
    height: calc(100vh - 78px);
    width: 100vw;
}

/*Class used by loading div to hide when not needed*/
.hidden {
    opacity: 0;
}

/*Loading image styling for size and position*/
#loading-img {
    height: 100px;
    width: 100px;
    text-align: center;
}

/*Styling to spin our loading image*/
@keyframes spinning {
    from { transform: rotate(0deg) }
    to { transform: rotate(360deg) }
}
.spin {
    animation-name: spinning;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

/*Background colors to toggle between for back room*/
.normal-bg {
    background-color: #8096AD;
}
.back-room-bg {
    background-color: #622929;
}

/*Coloring for the add movie button*/
#add-movie-btn {
    color: #8096AD;
}
#add-movie-btn:hover {
    color: #254895;
}

/*Changes cursor to a pointer finger when over a movie list image*/
#movie-list img {
    cursor: pointer;
}

/*Rounding edges and preventing image inside from overflowing*/
.movie-card {
    border-radius: 2em;
    overflow: hidden;
}

/*Making set height for images and cards*/
.all-movie-img {
    height: 429px;
}
.search-card, .search-card-img {
    height: 240px;
}